ALTER PROCEDURE [dbo].[CLASSEMENT_POSTE]/* Classement poste */  
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @num_prof /* Projet HSE / AGF lot 2 - Net Valley 2000   Calcul d'un classement à partir des valeurs de profils   06/09/2000 Thomas Cohu - Création*/float(53)
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN

      /* Paramètres : num_prof : numero de profil du poste*/
      DECLARE
         @D numeric(8, 0), 
         @I numeric(8, 0), 
         @S numeric(8, 0), 
         @C numeric(8, 0), 
         @T numeric(8, 0), 
         @E numeric(8, 0), 
         @P numeric(8, 0), 
         @L numeric(8, 0), 
         @V numeric(8, 0), 
         @A numeric(8, 0), 
         @R numeric(8, 0), 
         @deviation int, 
         @val_spread float(53), 
         @val_clos int, 
         @numero_classe int, 
         @spread_max float(53), 
         @flg_reco int, 
         @ii int

      
      /*
      *    ******************************************************************
      *    debut de la procedure
      *    ******************************************************************
      */
      SET @spread_max = 7.5

      
      /*
      *    classement DISC
      *    ---------------------------------------------------------
      *    on commence par mettre dans les quatres variables les valeurs D, I, S, C
      *    respectivement dans les variables D, I, S, et C
      */
      SELECT @D = VALEUR_PROFIL_POSTE.VALEUR_POSTE
      FROM dbo.VALEUR_PROFIL_POSTE
      WHERE VALEUR_PROFIL_POSTE.NUM_PROFIL_POSTE = @num_prof AND VALEUR_PROFIL_POSTE.NUM_TYPE_VAL_PROFIL_POSTE = 1

      SELECT @I = VALEUR_PROFIL_POSTE.VALEUR_POSTE
      FROM dbo.VALEUR_PROFIL_POSTE
      WHERE VALEUR_PROFIL_POSTE.NUM_PROFIL_POSTE = @num_prof AND VALEUR_PROFIL_POSTE.NUM_TYPE_VAL_PROFIL_POSTE = 2

      SELECT @S = VALEUR_PROFIL_POSTE.VALEUR_POSTE
      FROM dbo.VALEUR_PROFIL_POSTE
      WHERE VALEUR_PROFIL_POSTE.NUM_PROFIL_POSTE = @num_prof AND VALEUR_PROFIL_POSTE.NUM_TYPE_VAL_PROFIL_POSTE = 3

      SELECT @C = VALEUR_PROFIL_POSTE.VALEUR_POSTE
      FROM dbo.VALEUR_PROFIL_POSTE
      WHERE VALEUR_PROFIL_POSTE.NUM_PROFIL_POSTE = @num_prof AND VALEUR_PROFIL_POSTE.NUM_TYPE_VAL_PROFIL_POSTE = 4

      BEGIN

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @spread_disc$val_1 float(53)

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @spread_disc$val_2 float(53)

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @spread_disc$val_3 float(53)

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @spread_disc$val_4 float(53)

         DECLARE
            @spread_disc$return_value_argument float(53)

         SET @spread_disc$val_1 = @D

         SET @spread_disc$val_2 = @I

         SET @spread_disc$val_3 = @S

         SET @spread_disc$val_4 = @C

         SET @spread_disc$return_value_argument = @val_spread

         BEGIN

            SET @spread_disc$return_value_argument = (0.25 * (abs(50 - @spread_disc$val_1) + abs(50 - @spread_disc$val_2) + abs(50 - @spread_disc$val_3) + abs(50 - @spread_disc$val_4)))

            GOTO spread_disc$RETURN_LABEL

         END

         spread_disc$RETURN_LABEL:

         SET @val_spread = @spread_disc$return_value_argument

      END

      /* classe par défaut*/
      SET @numero_classe = 0

      
      /*
      *    debut du classement
      *    #1
      */
      IF (
         (@I BETWEEN @C AND @C + 5) AND 
         @C > @S AND 
         @D >= @I AND 
         @D > @C AND 
         @val_spread > 15 AND 
         (@D BETWEEN 65 AND 99) AND 
         (@I BETWEEN 0 AND 75) AND 
         (@S BETWEEN 0 AND 50) AND 
         (@C BETWEEN 0 AND 70))
         SET @numero_classe = 1
      ELSE 
         
         /*
         *   ------------------------
         *    #2
         */
         IF (
            @D >= @I AND 
            @I >= @S AND 
            @S >= @C AND 
            @D != (@I + @S) AND 
            @val_spread >= 9 AND 
            (@D BETWEEN 65 AND 99) AND 
            (@I BETWEEN 40 AND 95) AND 
            (@S BETWEEN 0 AND 65) AND 
            (@C BETWEEN 0 AND 50))
            SET @numero_classe = 2
         ELSE 
            
            /*
            *   ------------------------
            *    # 3
            */
            IF (
               @D >= @I AND 
               @I > @C + 5 AND 
               @C > @S AND 
               @val_spread > 10 AND 
               (@D BETWEEN 65 AND 99) AND 
               (@I BETWEEN 40 AND 95) AND 
               (@S BETWEEN 0 AND 55) AND 
               (@C BETWEEN 0 AND 70))
               SET @numero_classe = 3
            ELSE 
               
               /*
               *   ------------------------
               *    #5 ( is not # 4 )
               */
               IF (
                  @I >= @D + 5 AND 
                  @C >= @S + 5 AND 
                  @D >= @C AND 
                  @val_spread > 10 AND 
                  (@D BETWEEN 40 AND 95) AND 
                  (@I BETWEEN 65 AND 99) AND 
                  (@S BETWEEN 0 AND 60) AND 
                  (@C BETWEEN 0 AND 85))
                  SET @numero_classe = 5
               ELSE 
                  
                  /*
                  *   ------------------------
                  *    #7
                  */
                  IF (
                     @I > @D AND 
                     @I > @S AND 
                     @S > @C AND 
                     @D > @C + @val_spread AND 
                     @val_spread > 12 AND 
                     (@D BETWEEN 40 AND 95) AND 
                     (@I BETWEEN 55 AND 99) AND 
                     (@S BETWEEN 10 AND 90) AND 
                     (@C BETWEEN 0 AND 50))
                     SET @numero_classe = 7
                  ELSE 
                     
                     /*
                     *   ------------------------
                     *    #4
                     */
                     IF (
                        (@D BETWEEN @I - @val_spread AND @I + @val_spread) AND 
                        (@C BETWEEN @S - @val_spread AND @S + @val_spread) AND 
                        @val_spread > 12 AND 
                        (@D BETWEEN 40 AND 99) AND 
                        (@I BETWEEN 60 AND 99) AND 
                        (@S BETWEEN 0 AND 50) AND 
                        (@C BETWEEN 0 AND 50))
                        SET @numero_classe = 4
                     ELSE 
                        
                        /*
                        *   ------------------------
                        *    #6
                        */
                        IF (
                           @I > @D AND 
                           @C > @S AND 
                           @C > @D AND 
                           @I > @S AND 
                           @val_spread > 10 AND 
                           (@D BETWEEN 5 AND 65) AND 
                           (@I BETWEEN 55 AND 99) AND 
                           (@S BETWEEN 0 AND 60) AND 
                           (@C BETWEEN 40 AND 95))
                           SET @numero_classe = 6
                        ELSE 
                           
                           /*
                           *   ------------------------
                           *    #8
                           */
                           IF (
                              (@S BETWEEN @I - @val_spread AND @I + @val_spread) AND 
                              (@C BETWEEN @D - @val_spread AND @D + @val_spread) AND 
                              @S > @C AND 
                              @I > @D AND 
                              @val_spread > 10 AND 
                              (@D BETWEEN 0 AND 60) AND 
                              (@I BETWEEN 50 AND 99) AND 
                              (@S BETWEEN 50 AND 99) AND 
                              (@C BETWEEN 0 AND 60))
                              SET @numero_classe = 8
                           ELSE 
                              
                              /*
                              *   ------------------------
                              *    #9
                              */
                              IF (
                                 @S >= @D AND 
                                 @D > @I AND 
                                 @S > @C AND 
                                 @D > @C AND 
                                 @val_spread > 10 AND 
                                 (@D BETWEEN 40 AND 90) AND 
                                 (@I BETWEEN 0 AND 60) AND 
                                 (@S BETWEEN 60 AND 99) AND 
                                 (@C BETWEEN 0 AND 60))
                                 SET @numero_classe = 9
                              ELSE 
                                 
                                 /*
                                 *   ------------------------
                                 *    #10
                                 */
                                 IF (
                                    @I > @D AND 
                                    @S > @C AND 
                                    @C > @D + @val_spread AND 
                                    @S > @I AND 
                                    @val_spread > 10 AND 
                                    (@D BETWEEN 0 AND 50) AND 
                                    (@I BETWEEN 0 AND 75) AND 
                                    (@S BETWEEN 40 AND 99) AND 
                                    (@C BETWEEN 50 AND 95))
                                    SET @numero_classe = 10
                                 ELSE 
                                    
                                    /*
                                    *   ------------------------
                                    *    #11
                                    */
                                    IF (
                                       @D >= @I + 5 AND 
                                       @S >= @C + 5 AND 
                                       @C > @D AND 
                                       @val_spread > 10 AND 
                                       (@D BETWEEN 0 AND 65) AND 
                                       (@I BETWEEN 0 AND 40) AND 
                                       (@S BETWEEN 60 AND 95) AND 
                                       (@C BETWEEN 50 AND 90))
                                       SET @numero_classe = 11
                                    ELSE 
                                       
                                       /*
                                       *   ------------------------
                                       *    #13 ( is not #12)
                                       */
                                       IF (
                                          @I >= @D AND 
                                          @S >= @I AND 
                                          @C >= @S AND 
                                          @I != @S + @C AND 
                                          @val_spread > 10 AND 
                                          (@D BETWEEN 0 AND 75) AND 
                                          (@I BETWEEN 0 AND 75) AND 
                                          (@S BETWEEN 50 AND 95) AND 
                                          (@C BETWEEN 60 AND 99))
                                          SET @numero_classe = 13
                                       ELSE 
                                          
                                          /*
                                          *   ------------------------
                                          *    #14 ( is not #12)
                                          */
                                          IF (
                                             @D > @I AND 
                                             @S >= @D AND 
                                             @C >= @S AND 
                                             @val_spread > 11 AND 
                                             (@D BETWEEN 0 AND 75) AND 
                                             (@I BETWEEN 0 AND 60) AND 
                                             (@S BETWEEN 40 AND 95) AND 
                                             (@C BETWEEN 50 AND 99))
                                             SET @numero_classe = 14
                                          ELSE 
                                             
                                             /*
                                             *   ------------------------
                                             *    #12
                                             */
                                             IF (
                                                (@I BETWEEN @D - @val_spread AND @D + @val_spread) AND 
                                                (@C BETWEEN @S - @val_spread AND @S + @val_spread) AND 
                                                @val_spread > 12 AND 
                                                (@D BETWEEN 0 AND 45) AND 
                                                (@I BETWEEN 0 AND 45) AND 
                                                (@S BETWEEN 55 AND 99) AND 
                                                (@C BETWEEN 55 AND 99))
                                                SET @numero_classe = 12
                                             ELSE 
                                                
                                                /*
                                                *   ------------------------
                                                *    # 15
                                                */
                                                IF (
                                                   (@D BETWEEN @C - @val_spread AND @C + @val_spread) AND 
                                                   (@S BETWEEN @I - @val_spread AND @I + @val_spread) AND 
                                                   @C > @S AND 
                                                   @D > @I AND 
                                                   @val_spread > 12 AND 
                                                   (@D BETWEEN 55 AND 99) AND 
                                                   (@I BETWEEN 0 AND 75) AND 
                                                   (@S BETWEEN 0 AND 75) AND 
                                                   (@C BETWEEN 55 AND 99))
                                                   SET @numero_classe = 15
                                                ELSE 
                                                   
                                                   /*
                                                   *   ------------------------
                                                   *    #16
                                                   */
                                                   IF (
                                                      @D > @C AND 
                                                      @I > @S AND 
                                                      @C > @I AND 
                                                      @val_spread > 12 AND 
                                                      (@D BETWEEN 60 AND 99) AND 
                                                      (@I BETWEEN 30 AND 70) AND 
                                                      (@S BETWEEN 0 AND 50) AND 
                                                      (@C BETWEEN 50 AND 95))
                                                      SET @numero_classe = 16
                                                   ELSE 
                                                      BEGIN

                                                         DECLARE
                                                            @procedure_return_value int

                                                         BEGIN

                                                            DECLARE
                                                               /*
                                                               *   SSMA warning messages:
                                                               *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
                                                               */

                                                               @std_dev$val_1 float(53)

                                                            DECLARE
                                                               /*
                                                               *   SSMA warning messages:
                                                               *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
                                                               */

                                                               @std_dev$val_2 float(53)

                                                            DECLARE
                                                               /*
                                                               *   SSMA warning messages:
                                                               *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
                                                               */

                                                               @std_dev$val_3 float(53)

                                                            DECLARE
                                                               @std_dev$return_value_argument int

                                                            SET @std_dev$val_1 = @I

                                                            SET @std_dev$val_2 = @S

                                                            SET @std_dev$val_3 = @C

                                                            SET @std_dev$return_value_argument = @procedure_return_value

                                                            BEGIN

                                                               DECLARE
                                                                  @std_dev$moyenne float(53), 
                                                                  @std_dev$moyenne_care float(53)

                                                               SET @std_dev$moyenne = @std_dev$val_1 + @std_dev$val_2 + @std_dev$val_3

                                                               SET @std_dev$moyenne_care = (@std_dev$val_1 * @std_dev$val_1 + @std_dev$val_2 * @std_dev$val_2 + @std_dev$val_3 * @std_dev$val_3) * 3

                                                               SET @std_dev$return_value_argument = ssma_oracle.round_numeric_0(sqrt((@std_dev$moyenne_care - (@std_dev$moyenne * @std_dev$moyenne)) / 6))

                                                               GOTO std_dev$RETURN_LABEL

                                                            END

                                                            std_dev$RETURN_LABEL:

                                                            SET @procedure_return_value = @std_dev$return_value_argument

                                                         END

                                                         
                                                         /*
                                                         *   ------------------------
                                                         *    #17
                                                         */
                                                         IF (
                                                            (@D - @procedure_return_value) >= 73 AND 
                                                            (@D BETWEEN 5 AND 99) AND 
                                                            (@I BETWEEN 5 AND 95) AND 
                                                            (@S BETWEEN 5 AND 95) AND 
                                                            (@C BETWEEN 5 AND 95))
                                                            SET @numero_classe = 17
                                                         ELSE 
                                                            BEGIN

                                                               DECLARE
                                                                  @procedure_return_value$2 int

                                                               BEGIN

                                                                  DECLARE
                                                                     /*
                                                                     *   SSMA warning messages:
                                                                     *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
                                                                     */

                                                                     @std_dev$val_1$2 float(53)

                                                                  DECLARE
                                                                     /*
                                                                     *   SSMA warning messages:
                                                                     *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
                                                                     */

                                                                     @std_dev$val_2$2 float(53)

                                                                  DECLARE
                                                                     /*
                                                                     *   SSMA warning messages:
                                                                     *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
                                                                     */

                                                                     @std_dev$val_3$2 float(53)

                                                                  DECLARE
                                                                     @std_dev$return_value_argument$2 int

                                                                  SET @std_dev$val_1$2 = @D

                                                                  SET @std_dev$val_2$2 = @S

                                                                  SET @std_dev$val_3$2 = @C

                                                                  SET @std_dev$return_value_argument$2 = @procedure_return_value$2

                                                                  BEGIN

                                                                     DECLARE
                                                                        @std_dev$moyenne$2 float(53), 
                                                                        @std_dev$moyenne_care$2 float(53)

                                                                     SET @std_dev$moyenne$2 = @std_dev$val_1$2 + @std_dev$val_2$2 + @std_dev$val_3$2

                                                                     SET @std_dev$moyenne_care$2 = (@std_dev$val_1$2 * @std_dev$val_1$2 + @std_dev$val_2$2 * @std_dev$val_2$2 + @std_dev$val_3$2 * @std_dev$val_3$2) * 3

                                                                     SET @std_dev$return_value_argument$2 = ssma_oracle.round_numeric_0(sqrt((@std_dev$moyenne_care$2 - (@std_dev$moyenne$2 * @std_dev$moyenne$2)) / 6))

                                                                     GOTO std_dev$RETURN_LABEL$2

                                                                  END

                                                                  std_dev$RETURN_LABEL$2:

                                                                  SET @procedure_return_value$2 = @std_dev$return_value_argument$2

                                                               END

                                                               
                                                               /*
                                                               *   ------------------------
                                                               *    #18
                                                               */
                                                               IF (
                                                                  (@I - @procedure_return_value$2) >= 73 AND 
                                                                  (@D BETWEEN 5 AND 95) AND 
                                                                  (@I BETWEEN 5 AND 99) AND 
                                                                  (@S BETWEEN 5 AND 95) AND 
                                                                  (@C BETWEEN 5 AND 95))
                                                                  SET @numero_classe = 18
                                                               ELSE 
                                                                  BEGIN

                                                                     DECLARE
                                                                        @procedure_return_value$3 int

                                                                     BEGIN

                                                                        DECLARE
                                                                           /*
                                                                           *   SSMA warning messages:
                                                                           *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
                                                                           */

                                                                           @std_dev$val_1$3 float(53)

                                                                        DECLARE
                                                                           /*
                                                                           *   SSMA warning messages:
                                                                           *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
                                                                           */

                                                                           @std_dev$val_2$3 float(53)

                                                                        DECLARE
                                                                           /*
                                                                           *   SSMA warning messages:
                                                                           *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
                                                                           */

                                                                           @std_dev$val_3$3 float(53)

                                                                        DECLARE
                                                                           @std_dev$return_value_argument$3 int

                                                                        SET @std_dev$val_1$3 = @D

                                                                        SET @std_dev$val_2$3 = @I

                                                                        SET @std_dev$val_3$3 = @C

                                                                        SET @std_dev$return_value_argument$3 = @procedure_return_value$3

                                                                        BEGIN

                                                                           DECLARE
                                                                              @std_dev$moyenne$3 float(53), 
                                                                              @std_dev$moyenne_care$3 float(53)

                                                                           SET @std_dev$moyenne$3 = @std_dev$val_1$3 + @std_dev$val_2$3 + @std_dev$val_3$3

                                                                           SET @std_dev$moyenne_care$3 = (@std_dev$val_1$3 * @std_dev$val_1$3 + @std_dev$val_2$3 * @std_dev$val_2$3 + @std_dev$val_3$3 * @std_dev$val_3$3) * 3

                                                                           SET @std_dev$return_value_argument$3 = ssma_oracle.round_numeric_0(sqrt((@std_dev$moyenne_care$3 - (@std_dev$moyenne$3 * @std_dev$moyenne$3)) / 6))

                                                                           GOTO std_dev$RETURN_LABEL$3

                                                                        END

                                                                        std_dev$RETURN_LABEL$3:

                                                                        SET @procedure_return_value$3 = @std_dev$return_value_argument$3

                                                                     END

                                                                     
                                                                     /*
                                                                     *   ------------------------
                                                                     *    #19
                                                                     */
                                                                     IF (
                                                                        (@S - @procedure_return_value$3) >= 73 AND 
                                                                        (@D BETWEEN 5 AND 95) AND 
                                                                        (@I BETWEEN 5 AND 95) AND 
                                                                        (@S BETWEEN 5 AND 99) AND 
                                                                        (@C BETWEEN 5 AND 95))
                                                                        SET @numero_classe = 19
                                                                     ELSE 
                                                                        BEGIN

                                                                           DECLARE
                                                                              @procedure_return_value$4 int

                                                                           BEGIN

                                                                              DECLARE
                                                                                 /*
                                                                                 *   SSMA warning messages:
                                                                                 *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
                                                                                 */

                                                                                 @std_dev$val_1$4 float(53)

                                                                              DECLARE
                                                                                 /*
                                                                                 *   SSMA warning messages:
                                                                                 *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
                                                                                 */

                                                                                 @std_dev$val_2$4 float(53)

                                                                              DECLARE
                                                                                 /*
                                                                                 *   SSMA warning messages:
                                                                                 *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
                                                                                 */

                                                                                 @std_dev$val_3$4 float(53)

                                                                              DECLARE
                                                                                 @std_dev$return_value_argument$4 int

                                                                              SET @std_dev$val_1$4 = @D

                                                                              SET @std_dev$val_2$4 = @I

                                                                              SET @std_dev$val_3$4 = @S

                                                                              SET @std_dev$return_value_argument$4 = @procedure_return_value$4

                                                                              BEGIN

                                                                                 DECLARE
                                                                                    @std_dev$moyenne$4 float(53), 
                                                                                    @std_dev$moyenne_care$4 float(53)

                                                                                 SET @std_dev$moyenne$4 = @std_dev$val_1$4 + @std_dev$val_2$4 + @std_dev$val_3$4

                                                                                 SET @std_dev$moyenne_care$4 = (@std_dev$val_1$4 * @std_dev$val_1$4 + @std_dev$val_2$4 * @std_dev$val_2$4 + @std_dev$val_3$4 * @std_dev$val_3$4) * 3

                                                                                 SET @std_dev$return_value_argument$4 = ssma_oracle.round_numeric_0(sqrt((@std_dev$moyenne_care$4 - (@std_dev$moyenne$4 * @std_dev$moyenne$4)) / 6))

                                                                                 GOTO std_dev$RETURN_LABEL$4

                                                                              END

                                                                              std_dev$RETURN_LABEL$4:

                                                                              SET @procedure_return_value$4 = @std_dev$return_value_argument$4

                                                                           END

                                                                           
                                                                           /*
                                                                           *   ------------------------
                                                                           *    #20
                                                                           */
                                                                           IF (
                                                                              (@C - @procedure_return_value$4) >= 73 AND 
                                                                              (@D BETWEEN 5 AND 95) AND 
                                                                              (@I BETWEEN 5 AND 95) AND 
                                                                              (@S BETWEEN 5 AND 95) AND 
                                                                              (@C BETWEEN 5 AND 99))
                                                                              SET @numero_classe = 20

                                                                        END

                                                                  END

                                                            END

                                                      END

      /* fin du classement*/
      IF @numero_classe = 0
         /* ce test est obsolete*/
         SET @flg_reco = 0

      INSERT dbo.CLASSE_POSTE(NUM_CLASSE, TYPE_CLASSE, NUM_PROFIL_POSTE, FLG_RECO)
         VALUES (@numero_classe, 1, @num_prof, @flg_reco)

      
      /*
      *    commit;
      *    classement STEP
      *    --------------------------------------------------------------
      *    on commence par mettre dans les variables les valeurs de S, T, E, P
      */
      SELECT @S = VALEUR_PROFIL_POSTE.VALEUR_POSTE
      FROM dbo.VALEUR_PROFIL_POSTE
      WHERE VALEUR_PROFIL_POSTE.NUM_PROFIL_POSTE = @num_prof AND VALEUR_PROFIL_POSTE.NUM_TYPE_VAL_PROFIL_POSTE = 5

      SELECT @T = VALEUR_PROFIL_POSTE.VALEUR_POSTE
      FROM dbo.VALEUR_PROFIL_POSTE
      WHERE VALEUR_PROFIL_POSTE.NUM_PROFIL_POSTE = @num_prof AND VALEUR_PROFIL_POSTE.NUM_TYPE_VAL_PROFIL_POSTE = 6

      SELECT @E = VALEUR_PROFIL_POSTE.VALEUR_POSTE
      FROM dbo.VALEUR_PROFIL_POSTE
      WHERE VALEUR_PROFIL_POSTE.NUM_PROFIL_POSTE = @num_prof AND VALEUR_PROFIL_POSTE.NUM_TYPE_VAL_PROFIL_POSTE = 7

      SELECT @P = VALEUR_PROFIL_POSTE.VALEUR_POSTE
      FROM dbo.VALEUR_PROFIL_POSTE
      WHERE VALEUR_PROFIL_POSTE.NUM_PROFIL_POSTE = @num_prof AND VALEUR_PROFIL_POSTE.NUM_TYPE_VAL_PROFIL_POSTE = 8

      BEGIN

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @spread_step$val_1 float(53)

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @spread_step$val_2 float(53)

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @spread_step$val_3 float(53)

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @spread_step$val_4 float(53)

         DECLARE
            @spread_step$return_value_argument float(53)

         SET @spread_step$val_1 = @S

         SET @spread_step$val_2 = @T

         SET @spread_step$val_3 = @E

         SET @spread_step$val_4 = @P

         SET @spread_step$return_value_argument = @val_spread

         BEGIN

            DECLARE
               @spread_step$moyenne float(53)

            SET @spread_step$moyenne = (@spread_step$val_1 + @spread_step$val_2 + @spread_step$val_3 + @spread_step$val_4) * 0.25

            SET @spread_step$return_value_argument = (0.25 * (abs(@spread_step$val_1 - @spread_step$moyenne) + abs(@spread_step$val_2 - @spread_step$moyenne) + abs(@spread_step$val_3 - @spread_step$moyenne) + abs(@spread_step$val_4 - @spread_step$moyenne)))

            GOTO spread_step$RETURN_LABEL

         END

         spread_step$RETURN_LABEL:

         SET @val_spread = @spread_step$return_value_argument

      END

      SET @numero_classe = 0

      
      /*
      *    debut du classement
      *    on test val_spread > minimum donné par HumanSide
      */
      IF @val_spread > @spread_max
         
         /*
         *   ----------------
         *    #1
         */
         IF 
            @T > @S AND 
            @T > @P AND 
            @E > @S AND 
            @E > @P AND 
            (@T > 0.5 * (@S + @P + abs(@S - @P)) + 5) AND 
            (@E > 0.5 * (@S + @P + abs(@S - @P)) + 5) AND 
            (@S BETWEEN 1 AND 99) AND 
            (@T BETWEEN 50 AND 99) AND 
            (@E BETWEEN 50 AND 99) AND 
            (@P BETWEEN 1 AND 99)
            SET @numero_classe = 1
         ELSE 
            
            /*
            *   ----------------
            *    #2
            */
            IF 
               @T > @E AND 
               @T > @P AND 
               @S > @E AND 
               @S > @P AND 
               (@S > 0.5 * (@E + @P + abs(@E - @P)) + 5) AND 
               (@T > 0.5 * (@E + @P + abs(@E - @P)) + 5) AND 
               (@S BETWEEN 50 AND 99) AND 
               (@T BETWEEN 50 AND 99) AND 
               (@E BETWEEN 1 AND 99) AND 
               (@P BETWEEN 1 AND 99)
               SET @numero_classe = 2
            ELSE 
               
               /*
               *   ----------------
               *    #3
               */
               IF 
                  @T > @E AND 
                  @T > @S AND 
                  @P > @E AND 
                  @P > @S AND 
                  (@T > 0.5 * (@E + @S + abs(@E - @S)) + 5) AND 
                  (@P > 0.5 * (@E + @S + abs(@E - @S)) + 5) AND 
                  (@S BETWEEN 1 AND 99) AND 
                  (@T BETWEEN 50 AND 95) AND 
                  (@E BETWEEN 1 AND 99) AND 
                  (@P BETWEEN 50 AND 99)
                  SET @numero_classe = 3
               ELSE 
                  
                  /*
                  *   ----------------
                  *    #4
                  */
                  IF 
                     @S > @T AND 
                     @S > @P AND 
                     @E > @T AND 
                     @E > @P AND 
                     (@S > 0.5 * (@T + @P + abs(@T - @P)) + 5) AND 
                     (@E > 0.5 * (@T + @P + abs(@T - @P)) + 5) AND 
                     (@S BETWEEN 50 AND 99) AND 
                     (@T BETWEEN 1 AND 99) AND 
                     (@E BETWEEN 50 AND 99) AND 
                     (@P BETWEEN 1 AND 99)
                     SET @numero_classe = 4
                  ELSE 
                     
                     /*
                     *   ----------------
                     *    #5
                     */
                     IF 
                        @P > @T AND 
                        @P > @S AND 
                        @E > @T AND 
                        @E > @S AND 
                        (@P > 0.5 * (@T + @S + abs(@T - @S)) + 5) AND 
                        (@E > 0.5 * (@T + @S + abs(@T - @S)) + 5) AND 
                        (@S BETWEEN 1 AND 99) AND 
                        (@T BETWEEN 1 AND 99) AND 
                        (@E BETWEEN 50 AND 99) AND 
                        (@P BETWEEN 50 AND 99)
                        SET @numero_classe = 5
                     ELSE 
                        
                        /*
                        *   ----------------
                        *    #6
                        */
                        IF 
                           @S > @T AND 
                           @S > @E AND 
                           @P > @T AND 
                           @P > @E AND 
                           (@S > 0.5 * (@T + @E + abs(@T - @E)) + 5) AND 
                           (@P > 0.5 * (@T + @E + abs(@T - @E)) + 5) AND 
                           (@S BETWEEN 50 AND 99) AND 
                           (@T BETWEEN 1 AND 99) AND 
                           (@E BETWEEN 1 AND 99) AND 
                           (@P BETWEEN 50 AND 99)
                           SET @numero_classe = 6
                        ELSE 
                           
                           /*
                           *   ----------------
                           *    #7
                           */
                           IF 
                              @S > @T AND 
                              @S > @E AND 
                              @S > @P AND 
                              (@S BETWEEN 50 AND 99) AND 
                              (@T BETWEEN 1 AND 99) AND 
                              (@E BETWEEN 1 AND 99) AND 
                              (@P BETWEEN 1 AND 99)
                              SET @numero_classe = 7
                           ELSE 
                              
                              /*
                              *   ----------------
                              *    #8
                              */
                              IF 
                                 @T > @S AND 
                                 @T > @E AND 
                                 @T > @P AND 
                                 (@T BETWEEN 50 AND 99) AND 
                                 (@S BETWEEN 1 AND 99) AND 
                                 (@E BETWEEN 1 AND 99) AND 
                                 (@P BETWEEN 1 AND 99)
                                 SET @numero_classe = 8
                              ELSE 
                                 
                                 /*
                                 *   ----------------
                                 *    #9
                                 */
                                 IF 
                                    @E > @T AND 
                                    @E > @S AND 
                                    @E > @P AND 
                                    (@E BETWEEN 50 AND 99) AND 
                                    (@T BETWEEN 1 AND 99) AND 
                                    (@S BETWEEN 1 AND 99) AND 
                                    (@P BETWEEN 1 AND 99)
                                    SET @numero_classe = 9
                                 ELSE 
                                    BEGIN
                                       
                                       /*
                                       *   ----------------
                                       *    #10
                                       */
                                       IF 
                                          @P > @T AND 
                                          @P > @E AND 
                                          @P > @S AND 
                                          (@P BETWEEN 50 AND 99) AND 
                                          (@T BETWEEN 1 AND 99) AND 
                                          (@E BETWEEN 1 AND 99) AND 
                                          (@S BETWEEN 1 AND 99)
                                          SET @numero_classe = 10
                                    END

      /* fin du classement*/
      IF @numero_classe = 0
         SET @flg_reco = 0

      INSERT dbo.CLASSE_POSTE(NUM_CLASSE, TYPE_CLASSE, NUM_PROFIL_POSTE, FLG_RECO)
         VALUES (@numero_classe, 2, @num_prof, @flg_reco)

      
      /*
      *    commit;
      *    classement ALIV
      *    -----------------------------------------------------------
      */
      SELECT @A = VALEUR_PROFIL_POSTE.VALEUR_POSTE
      FROM dbo.VALEUR_PROFIL_POSTE
      WHERE VALEUR_PROFIL_POSTE.NUM_PROFIL_POSTE = @num_prof AND VALEUR_PROFIL_POSTE.NUM_TYPE_VAL_PROFIL_POSTE = 9

      SELECT @L = VALEUR_PROFIL_POSTE.VALEUR_POSTE
      FROM dbo.VALEUR_PROFIL_POSTE
      WHERE VALEUR_PROFIL_POSTE.NUM_PROFIL_POSTE = @num_prof AND VALEUR_PROFIL_POSTE.NUM_TYPE_VAL_PROFIL_POSTE = 10

      SELECT @I = VALEUR_PROFIL_POSTE.VALEUR_POSTE
      FROM dbo.VALEUR_PROFIL_POSTE
      WHERE VALEUR_PROFIL_POSTE.NUM_PROFIL_POSTE = @num_prof AND VALEUR_PROFIL_POSTE.NUM_TYPE_VAL_PROFIL_POSTE = 11

      SELECT @V = VALEUR_PROFIL_POSTE.VALEUR_POSTE
      FROM dbo.VALEUR_PROFIL_POSTE
      WHERE VALEUR_PROFIL_POSTE.NUM_PROFIL_POSTE = @num_prof AND VALEUR_PROFIL_POSTE.NUM_TYPE_VAL_PROFIL_POSTE = 12

      BEGIN

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @closeness$val_1 float(53)

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @closeness$val_2 float(53)

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @closeness$val_3 float(53)

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @closeness$val_4 float(53)

         DECLARE
            @closeness$return_value_argument int

         SET @closeness$val_1 = @A

         SET @closeness$val_2 = @L

         SET @closeness$val_3 = @I

         SET @closeness$val_4 = @V

         SET @closeness$return_value_argument = @val_clos

         BEGIN

            DECLARE
               @closeness$moyenne float(53)

            SET @closeness$moyenne = (@closeness$val_1 + @closeness$val_2 + @closeness$val_3 + @closeness$val_4) / 4

            SET @closeness$return_value_argument = ssma_oracle.round_numeric_0((@closeness$val_1 - @closeness$moyenne) * (@closeness$val_1 - @closeness$moyenne) + (@closeness$val_2 - @closeness$moyenne) * (@closeness$val_2 - @closeness$moyenne) + (@closeness$val_3 - @closeness$moyenne) * (@closeness$val_3 - @closeness$moyenne) + (@closeness$val_4 - @closeness$moyenne) * (@closeness$val_4 - @closeness$moyenne))

            GOTO closeness$RETURN_LABEL

         END

         closeness$RETURN_LABEL:

         SET @val_clos = @closeness$return_value_argument

      END

      
      /*
      *    debut du classement
      *    #15 : closenness < 100
      */
      IF @val_clos < 100
         SET @numero_classe = 15
      ELSE 
         /* #1*/
         IF ((
            @I < @L AND 
            @V < @L AND 
            @L + 5 < @A) OR (
            @V < @A AND 
            @L < @A AND 
            @L = @V AND 
            @I < @L))
            SET @numero_classe = 1
         ELSE 
            
            /*
            *   ----------------
            *    #2
            */
            IF (
               @L > @A + 5 AND 
               @A > @I AND 
               @A > @V)
               SET @numero_classe = 2
            ELSE 
               
               /*
               *   ----------------
               *    #3
               */
               IF ((
                  (@L BETWEEN @A AND @A + 5) AND 
                  @A > @I AND 
                  @A > @V) OR (
                  (@A BETWEEN @L AND @L + 5) AND 
                  @L > @I AND 
                  @L > @V))
                  SET @numero_classe = 3
               ELSE 
                  
                  /*
                  *   ----------------
                  *    #4
                  */
                  IF (
                     @V > @I AND 
                     @I > @L AND 
                     @I > @A)
                     SET @numero_classe = 4
                  ELSE 
                     
                     /*
                     *   ----------------
                     *    #5
                     */
                     IF ((
                        @I > @V + 5 AND 
                        @V > @A AND 
                        @V > @L) OR (
                        @I > @V AND 
                        @I > @L AND 
                        @L = @V AND 
                        @L > @A))
                        SET @numero_classe = 5
                     ELSE 
                        
                        /*
                        *   ----------------
                        *    #6
                        */
                        IF ((
                           (@V BETWEEN @I AND @I + 5) AND 
                           @I > @A AND 
                           @I > @L) OR (
                           (@I BETWEEN @V AND @V + 5) AND 
                           @V > @L AND 
                           @V > @A))
                           SET @numero_classe = 6
                        ELSE 
                           
                           /*
                           *   ----------------
                           *    #7
                           */
                           IF (
                              @A > @V + 5 AND 
                              @V > @I AND 
                              @V > @L)
                              SET @numero_classe = 7
                           ELSE 
                              
                              /*
                              *   ----------------
                              *    #8
                              */
                              IF ((
                                 @I < @A AND 
                                 @L < @A AND 
                                 @A + 5 < @V) OR (
                                 @A < @V AND 
                                 @L < @A AND 
                                 @A = @I AND 
                                 @I < @V))
                                 SET @numero_classe = 8
                              ELSE 
                                 
                                 /*
                                 *   ----------------
                                 *    #9
                                 */
                                 IF ((
                                    (@V BETWEEN @A AND @A + 5) AND 
                                    @A > @L AND 
                                    @A > @I) OR (
                                    (@A BETWEEN @V AND @V + 5) AND 
                                    @V > @L AND 
                                    @V > @I))
                                    SET @numero_classe = 9
                                 ELSE 
                                    
                                    /*
                                    *   ----------------
                                    *    #10
                                    */
                                    IF ((
                                       @A < @I AND 
                                       @V < @I AND 
                                       @I + 5 < @L) OR (
                                       @A < @L AND 
                                       @I < @L AND 
                                       @A = @I AND 
                                       @V < @A))
                                       SET @numero_classe = 10
                                    ELSE 
                                       
                                       /*
                                       *   ----------------
                                       *    #11
                                       */
                                       IF (
                                          @I > @L + 5 AND 
                                          @L > @V AND 
                                          @L > @A)
                                          SET @numero_classe = 11
                                       ELSE 
                                          
                                          /*
                                          *   ----------------
                                          *    #12
                                          */
                                          IF ((
                                             (@I BETWEEN @L AND @L + 5) AND 
                                             @L > @A AND 
                                             @L > @V) OR (
                                             @L > @I AND 
                                             @L <= @I + 5 AND 
                                             @I > @A AND 
                                             @I > @V))
                                             SET @numero_classe = 12
                                          ELSE 
                                             
                                             /*
                                             *   ----------------
                                             *    #13
                                             */
                                             IF (
                                                @A >= @V AND 
                                                @I >= @V AND 
                                                @A >= @L AND 
                                                @I >= @L)
                                                SET @numero_classe = 13
                                             ELSE 
                                                BEGIN
                                                   
                                                   /*
                                                   *   ----------------
                                                   *    #14
                                                   */
                                                   IF (
                                                      @L >= @A AND 
                                                      @V >= @A AND 
                                                      @L >= @I AND 
                                                      @V >= @I)
                                                      SET @numero_classe = 14
                                                END

      /* Fin du classement*/
      IF @numero_classe = 0
         SET @flg_reco = 0

      INSERT dbo.CLASSE_POSTE(NUM_CLASSE, TYPE_CLASSE, NUM_PROFIL_POSTE, FLG_RECO)
         VALUES (@numero_classe, 3, @num_prof, @flg_reco)/* commit;*/

   END
