<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.ActivityMonitor" version="5.0.0" targetFramework="net451" />
  <package id="CK.ActivityMonitor.StandardSender" version="5.0.0" targetFramework="net451" />
  <package id="CK.Core" version="5.0.0" targetFramework="net451" />
  <package id="CK.SqlServer.Parser.Model" version="3.1.0" targetFramework="net451" />
  <package id="CK.Text" version="5.0.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
</packages>